<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>622050239296-eprr5jmkfsdo5lhn1kjqs9s39atl2dce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.622050239296-eprr5jmkfsdo5lhn1kjqs9s39atl2dce</string>
	<key>API_KEY</key>
	<string>AIzaSyCF00pkdZOCRy-eoBD0u79COcYypmiLUc0</string>
	<key>GCM_SENDER_ID</key>
	<string>622050239296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abdulahad.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-11bae</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-11bae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:622050239296:ios:50c363467e722c9e</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-11bae.firebaseio.com</string>
</dict>
</plist>